<!-- <img src="assets/env_polibuda.jpg" style="position:fixed;z-index: -2"> -->
<!-- <img src="assets/open_street_base_wroblewskiego4.png" style="position:absolute;z-index: -2;margin:185px 0px 0px 0px"> -->

<!-- open_street_base_wroblewskiego -->
<input [(ngModel)]="load_name">
<button (click)="load()">Wczytaj sieć</button>
<span [style.color]="is_loaded_right ? 'green' : 'red' ">{{load_text}}</span>
<br>
<button class="change-time-button" (click)="increaseTime()">+</button> 
<button class="change-time-button" (click)="decreaseTime()">-</button>
<app-displayer *ngFor="let i of [0,0]" [nets]="nets"></app-displayer>